<footer class="footer">
    <div class="container">
        <p class="text-muted">
            <a href="https://www.linkedin.com/in/arnaud-maurice-a36b04108/">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
            <i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2017 - Développé par Arnaud Maurice
        </p>
    </div>
</footer>

